<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>제품 목록</title>
    <link rel="stylesheet" href="/products.css" />
  </head>
  <body>
    <h1>제품 목록</h1>
    <div class="product-container">
      <% products.forEach(product => { %>
      <div class="product-card">
        <h2><%= product.name %></h2>
        <p class="price">가격: $<%= product.price %></p>
        <p class="stock">재고: <%= product.stock %></p>
        <a href="/products/<%= product._id %>" class="view-button">제품보기</a>
      </div>
      <% }) %>
    </div>
    <a href="/logout">로그아웃</a>
  </body>
</html>
